.android-large2-container {
  min-height: 100vh;
}
.android-large2-android-large2 {
  width: 100%;
  height: 805px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.android-large2-rectangle19 {
  top: -43px;
  left: 0px;
  width: 360px;
  height: 447px;
  position: absolute;
  border-color: transparent;
  border-radius: 37px;
}
.android-large2-image1 {
  top: 87px;
  left: 78px;
  width: 204px;
  height: 186px;
  position: absolute;
  border-color: transparent;
  border-radius: 8px;
}
.android-large2-text {
  top: 525px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Source Sans Pro;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large2-text5 {
  top: 457px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  width: 336px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Merriweather;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large2-navlink {
  display: contents;
}
.android-large2-rectangle20 {
  top: 643px;
  left: 12px;
  width: 181px;
  height: 50px;
  position: absolute;
  border-color: transparent;
  border-radius: 25px;
  text-decoration: none;
}
.android-large2-navlink1 {
  display: contents;
}
.android-large2-u-h19t-e-cv-nf-wi-z-s-l31 {
  top: 650px;
  left: 129px;
  width: 36px;
  height: 35px;
  position: absolute;
  text-decoration: none;
}
.android-large2-text7 {
  top: 658px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Merriweather;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 479px) {
  .android-large2-rectangle19 {
    top: -63px;
    left: -4px;
    width: 471px;
    height: 454px;
    margin-right: 4px;
    padding-right: 0px;
  }
  .android-large2-image1 {
    top: 64px;
    left: 87px;
    width: 273px;
    height: 258px;
  }
}
