.android-large1-container {
  min-height: 100vh;
}
.android-large1-android-large1 {
  width: 100%;
  height: 950px;
  display: flex;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 1);
}
.android-large1-text {
  top: 79px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 294px;
  height: auto;
  position: absolute;
  font-size: 96px;
  align-self: stretch;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 103.52272987365723%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-text2 {
  top: 286px;
  left: 31px;
  color: rgba(255, 255, 255, 1);
  width: 294px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-navlink {
  display: contents;
}
.android-large1-u-h19r-wxy-x1x1h-ncy {
  top: 678px;
  left: 281px;
  width: 48px;
  height: 48px;
  position: absolute;
  text-decoration: none;
}
